:root {
  --color-bg: #0A0A0A;
  --color-indigo: #4B0082;
  --color-purple: #6A0DAD;
  --color-moss: #556B2F;
  --color-earth: #8B7355;
  --color-text: #FFFFFF;
  --color-text-light: #CCCCCC;
}

body{   
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Jaro",sans-serif;
}

.navbar{
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--color-text);
}


.navbar ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.navbar div{
    border-left:10px solid var(--color-text);
    padding: 3px 5px;
    opacity: 50%;
    transition: opacity 0.3s ease-in-out,padding 0.3s ease-in-out;
}

.navbar-box-link:hover{
    opacity: 100%;
    padding: 5px 10px;
}

.head{
    background-image: url(/assets/fondo.jpg);
    background-position: center;
    background-size:cover;
}

.box{
    background-color: var(--color-earth);
    margin:0 auto ;
    max-width: 90%;
    min-height: 200px;
    height: auto;
    border: 10px solid var(--color-text);
}
.box-img-header{
    background-image: url(/assets/banner.jpg);
    background-size: cover;
    background-position: center;
}
.box-img-ldsm{
    background-image: url(/assets/ldsm.jpg);
    background-size: cover;
    background-position: center;
}
.box-img-bootcamp{
    background-image: url(/assets/bootcamp.jpg);
    background-size: cover;
    background-position: center;
}
.box-img-colegio{
    background-image: url(/assets/colegio.jpg);
    background-size: cover;
    background-position: center;
}
.fondo2{
    background-image: url(/assets/fondo4.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 10vw;
    min-width: 500px;
}

.p-w{
    max-width: 700px;
}

.gap-tec{
    gap: 5px;
}
.m-center{
    margin: 0 auto;
}
.w-title{
    max-width: 500px;
}
.img-proyects{
    object-fit: cover;
    
}

section{
    max-width: 1000px;
}

.lista{
    font-size: large;
}

.img-proyects img{
    width:100%;
    height: 87%;
    overflow: hidden;
}
.ver{
    width: 100%;
    height: 100%;
    align-items: center;
    transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out;
}
.ver a{
    font-size: 1.5rem;
}
.ver:hover{ 
    background-color: var(--color-text);
    color: var(--color-bg);
}
.container-button{
    max-width: 500px;
}
.button-a{
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out;
}
.button-a:hover{
    color: var(--color-bg);
    background-color: var(--color-text);
}

.button-a a:hover{
    color: var(--color-bg);
}

.img{
    width: 100%;
    height: 100%;
}